.UserList {
     list-style-type: none;
     padding: 0;
 }

 .user {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     border-bottom: 1px solid #eee;
 }

 .checkbox {
     margin-right: 10px;
 }
 .custom-dropdown {
     position: relative;
     margin-bottom: 10px;
 }

 .selected-option,
 .dropdown-options div {
     padding: 10px;
     background-color: #2b9eeb;
     color: #fff;
     cursor: pointer;
 }

 .dropdown-options {
     position: absolute;
     top: 100%;
     left: 0;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .dropdown-options div:hover {
    background-color: #0e7fca;
 }
 

 h2 {
     color: #333;
 }

 .users,
 .transactions {
     list-style-type: none;
     padding: 0;
 }

 .User,
 .transaction {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     border-bottom: 1px solid #eee;
 }

 .delete {
     cursor: pointer;
     color: #e74c3c;
 }

